html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	background-image: url("https://www.washingtonian.com/wp-content/uploads/2021/07/2Fiftys-1500x1000.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 5%;
}
main {
	background: linear-gradient(rgba(255,255,255,0.75), #fff);
	border-radius: 10px;
	padding: 2em 4em;	
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.95));
	max-width: 900px;
	margin: auto;
}
h1, h2 {
	border-bottom: 1px solid #d3402a;
}
p {
	color: #505050;
}
p strong {
	color: #000;
}
#formula {
	background-color: #fff;
	text-align: center;
	width: 280px;
	padding: 1em;
	margin: auto;
	border-radius: 5px;
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.25));
	text-transform: uppercase;
	font-weight: 700;
	font-size: .9em;
}
@media (max-width: 600px) {
	#formula {
		width: 100%;
		font-size: 1em;
	}
}
#referencia {
	border-collapse: collapse;
	margin: auto;
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.25));
}
@media (max-width: 600px) {
	#referencia {
		width: 100%;
	}
}
#referencia tr {
	border-bottom: 1px solid #ffaf00;
	background-color: #fff;
}
#referencia tr:first-child, #referencia tr:last-child {
	border-bottom: none;
}
#referencia tr:nth-child(odd) {
	background-color: #ffeabc;
}
#referencia th, #referencia td {
	padding: .5em 1em;
}
#referencia tr td:nth-child(1) {
	font-weight: 500;
}
#referencia th {
	background-color: #d3402a;
	color: #fff;
}
#referencia th {
	text-align: left;
}
#calculadora {
	background-color: #fff;
	border-radius: 5px;
	margin: auto;
	max-width: 300px;
	padding: 1em;
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,.25));
}
@media (max-width: 600px) {
	#calculadora {
		max-width: none;
	}
}
#calculadora label {
	display: block;
	font-weight: 500;
	margin-bottom: .5em;
}
#calculadora input {
	background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 8px 10px;
    width: 100%;
	margin-bottom: 1em;
}
#calculadora .acoes button {
    width: 100%;
    border-radius: 5px;
    background: #d3402a;
	border: 1px solid #d3402a;
	padding: .75em;
    color: #fff;
	text-transform: uppercase;
	font-size: 85%;
	font-weight: 700;
}
#resultado {
	display: none;
	margin-top: 2em;
	background-color: #ffeabc;
	padding: .5em 1em;
	border: 1px solid #ffaf00;
	border-radius: 5px;
}
#resultado span {
	color: #000;
	font-weight: 500;
}